mlflow==2.16.0
cffi==1.17.1
cloudpickle==3.1.1
lightgbm==4.6.0
matplotlib==3.6.0
numpy>=1.25.2
pandas==2.0.2
psutil==7.0.0
pyarrow==17.0.0
scikit-learn==1.6.1
scipy==1.16.0
fastapi==0.116.0 
uvicorn==0.35.0
pydantic==2.11.7
setuptools>=65.0.0
wheel